In [35]:
import numpy as np
import pandas as pd
from shutil import copyfile

In [5]:
df = pd.read_json('data/validation.json')

In [6]:
df = df.reset_index()

In [7]:
df.shape

(4111, 2)

In [8]:
df.columns = ["url","status"]

In [9]:
df.head()

                                             url  status
0  carousel_0117c0a4-d8af-472a-8425-d4f5ae6f7589       0
1  carousel_02ddfd4a-ea39-46bf-9c12-7046606bd448       0
2  carousel_07b0e6c3-dbe3-46c9-8cd6-54dae7c94944      -1
3  carousel_0a6c1821-ae96-42bf-b90f-e0b1140c3d96      -1
4  carousel_0a7dbcda-c0f5-467c-b412-c10d768149bf       0

In [14]:
df["label"] = df["url"].apply(lambda x: "_".join(x.split("_")[:-1]))
df = df.sort_values(by=["label","status"])
df = df.reset_index(drop=True)

In [15]:
df.head(20)

                                              url  status     label
0   carousel_a6f0e344-5326-42e7-9566-81751f695672      -1  carousel
1   carousel_a76449ae-106e-49b9-9de8-97e1773802f2      -1  carousel
2   carousel_a8466cd4-dc61-40e3-8c1d-6a34f8fa01bb      -1  carousel
3   carousel_abe68132-b81d-40a1-922d-a3eb0d4ec611      -1  carousel
4   carousel_ac178410-088b-45bc-aab2-0f59a9955ee3      -1  carousel
5   carousel_ac52cb5a-7ab4-484e-9661-a45db8e1049c      -1  carousel
6   carousel_ac7dacf3-42b3-4c0a-912f-f4291474d109      -1  carousel
7   carousel_ae06154b-fcb6-409e-a1d9-c980a577ce43      -1  carousel
8   carousel_aebfbb03-3f30-4719-9b16-1c1c64ec437a      -1  carousel
9   carousel_af28e516-af43-44e4-9c3e-e8dc75e65877      -1  carousel
10  carousel_b0f36ed2-e184-44d8-a027-71a77b8a550c      -1  carousel
11  carousel_b32ba5a6-e83d-4dfd-b935-ad51cc4dcada      -1  carousel
12  carousel_b6c4388c-d336-4cae-b5be-e83ffcfa540d      -1  carousel
13  carousel_b7fa9679-12b2-4dcd-9110-cd84ea77530a      -1  carousel
14  carousel_bb114226-e9d3-44d4-bbc7-53690e41e541      -1  carousel
15  carousel_bfc0e90a-e39e-44f4-bc19-c052bf33e94d      -1  carousel
16  carousel_c05f8c18-f81e-47e5-a606-e34eb75ed4f7      -1  carousel
17  carousel_c2933da3-cbc3-4fc0-b8a7-ed859dcec2d1      -1  carousel
18  carousel_a4ee58b6-29d4-489d-8ebe-3a3ab9f7f799      -1  carousel
19  carousel_a4a4463b-e8ab-413d-8e48-773ea13e8740      -1  carousel

In [16]:
df.groupby(["label"]).agg(["count"])

                           url status
                         count  count
label
carousel                   269    269
description                288    288
episode                    317    317
full_screen_video_player   279    279
grid_view                  286    286
header                     296    296
home_marquee               329    329
onboarding                 261    261
portrait_photograph        289    289
search_page                313    313
sidebar                    303    303
signup                     284    284
video_thumbnail            288    288
youtube                    309    309

In [20]:
# split data thanh 4 phan de moi nguoi cung clean data
num = round(4111/4)
print("%s for each person" % num)

1028 for each person

In [42]:
i = 0
for p in range(4):
    to = i+num
    print("Person %s: From %s to %s"%(p+1, i, to))
    tmp = df.iloc[i:to]
    print(len(tmp))
    for index, row in tmp.iterrows():
        path = "data/drawing/%s.png"%row["url"]
        try:
            copyfile(path, path.replace("drawing", "person_%s" % p))
        except FileNotFoundError:
            print("No such file or directory: %s"%path)
            
    tmp.to_csv("data/person_%s/validation_small.csv"%p)
    i = to

Person 1: From 0 to 1028
1028
Person 2: From 1028 to 2056
1028
No such file or directory: data/drawing/header_8c51b549-c319-44fe-bac0-0e1f9ec9bfa3.png
No such file or directory: data/drawing/home_marquee_b0c7dcb7-9e31-4c6f-a06e-a2dcfc189412.png
Person 3: From 2056 to 3084
1028
No such file or directory: data/drawing/portrait_photograph_a7911f56-bfca-41af-8dbe-41db1a5fe36c.png
No such file or directory: data/drawing/search_page_8dc7a72c-2ac1-4bff-97dd-3fe48524d613.png
Person 4: From 3084 to 4112
1027
No such file or directory: data/drawing/signup_b56cf032-5d01-4b70-8232-f99bbb566597.png
No such file or directory: data/drawing/signup_712021d6-8485-4751-8376-915d59d6c221.png
No such file or directory: data/drawing/youtube_1ecc319f-d2c6-40f5-8179-6b2153dcdb09.png
No such file or directory: data/drawing/youtube_3a4cf598-bf03-4e51-a08a-a12643315d5c.png